* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: relative;
  padding: 10px 0;
}

.header-item {
  border-bottom: 1px solid #46a35880;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  color: #46a358;
  gap: 10px;
}

.header-navigation {
  display: flex;
  gap: 20px;
  font-size: 16px;
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  transition: all 0.3s ease;
}
.header-navigation h2 {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  /* transition: all 0.1s ease; */
  padding: 10px 10px 30px 10px;
  align-items: center;
}

.header-navigation h2:hover {
  color: #46a358;
  border-bottom: 2px solid #46a358;
}

.header-navigation h2 {
  font-size: 16px;
  font-weight: normal;
}

.header-menu > img {
  cursor: pointer;
}
.header-menu {
  align-items: center;
  display: flex;
  gap: 10px;
}
.btn > button {
  background: #46a358;
  border: none;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  gap: 10px;
  cursor: pointer;
}

.btn > button:hover {
  background: #368245;
}
/* Полупрозрачный фон */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  pointer-events: none;
}

.registrs {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.modal-content {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: end;
  cursor: pointer;
}
.textt {
  justify-content: center;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.textt .gg {
  color: #46a358;
}

.opis {
  width: 307px;
}

.opis .email {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #a5a5a5;
  opacity: 1px;
  color: #a5a5a5;
}

.opis .password {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #a5a5a5;
  opacity: 1px;
  color: black;
}
.password-container {
  position: relative;
}

.password {
  width: 100%;
  padding-right: 35px; 
  padding-left: 10px;
}

.eye-icon {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%); 
  cursor: pointer;
  width: 20px;
  height: 20px;
}


.opis .zab {
  color: #46a358;
  cursor: pointer;
  text-align: end;
}

.login-btn {
  width: 300px;
  height: 45px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  opacity: 0px;
  border: none;
  background: #46A358;
  color: white;
}
